/* #region Base */
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 48px;
  margin: 50px 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1000px;
  padding: 20px;
  margin: 0 auto;
  border: 5px solid rebeccapurple;
  border-radius: 16px;
}

.item {
  width: 160px;
  height: 160px;

  background-color: lightgreen;
  color: darkgreen;
  border: 5px solid darkgreen;
  border-radius: 16px;
  text-align: center;
  line-height: 160px;
}
/* #endregion */

/* #region Flexbox */
.container-2 {
  max-width: 700px;
  margin: 50px auto 0;

  .item {
    border-color: darkblue;
    background-color: lightblue;
    color: darkblue;
  }
}

.container {
  --items: 3;
  --indent: 70px;

  /* min-height: 600px; */
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);

  /* Default properties */
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  /* align-items: stretch; */
  /* flex-wrap: nowrap; */
}
.item {
  width: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.container-2 {
  --items: 4;
  --indent: 10px;

  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
/* #endregion */
